@media screen  and (max-width: 800px) {
    .block_1{
        height: 30%;
    }
    .block_2{
        width: 100%;
        height: 35%;
    }
    .block_3{
        width: 100%;
        height: 35%;
    }
}